# Ignore database directories (if any)
db/
database/

# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Python bytecode
__pycache__/
*.pyc

# Flask instance folder
instance/

# Django migrations
*/migrations/*

# VS Code settings
.vscode/

# MacOS specific files
.DS_Store
 